<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.quickshear.mapper.HairdresserMapper" >
  <resultMap id="BaseResultMap" type="com.quickshear.domain.Hairdresser" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="shop_id" property="shopId" jdbcType="BIGINT" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="card_face_photo" property="cardFacePhoto" jdbcType="VARCHAR" />
    <result column="card_back_photo" property="cardBackPhoto" jdbcType="VARCHAR" />
    <result column="restday" property="restday" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="c_time" property="cTime" jdbcType="TIMESTAMP" />
    <result column="m_time" property="mTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, phone_number, shop_id, shop_name, photo, card_face_photo, card_back_photo, 
    restday, status, c_time, m_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.quickshear.domain.HairdresserExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from hairdresser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart >= 0" >
       limit ${limitStart} , ${limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from hairdresser
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from hairdresser
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.quickshear.domain.HairdresserExample" >
    delete from hairdresser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.quickshear.domain.Hairdresser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hairdresser (name, phone_number, shop_id, 
      shop_name, photo, card_face_photo, 
      card_back_photo, restday, status, 
      c_time, m_time)
    values (#{name,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{shopId,jdbcType=BIGINT}, 
      #{shopName,jdbcType=VARCHAR}, #{photo,jdbcType=VARCHAR}, #{cardFacePhoto,jdbcType=VARCHAR}, 
      #{cardBackPhoto,jdbcType=VARCHAR}, #{restday,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{cTime,jdbcType=TIMESTAMP}, #{mTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.quickshear.domain.Hairdresser" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into hairdresser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="photo != null" >
        photo,
      </if>
      <if test="cardFacePhoto != null" >
        card_face_photo,
      </if>
      <if test="cardBackPhoto != null" >
        card_back_photo,
      </if>
      <if test="restday != null" >
        restday,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="cTime != null" >
        c_time,
      </if>
      <if test="mTime != null" >
        m_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="cardFacePhoto != null" >
        #{cardFacePhoto,jdbcType=VARCHAR},
      </if>
      <if test="cardBackPhoto != null" >
        #{cardBackPhoto,jdbcType=VARCHAR},
      </if>
      <if test="restday != null" >
        #{restday,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mTime != null" >
        #{mTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.quickshear.domain.HairdresserExample" resultType="java.lang.Integer" >
    select count(*) from hairdresser
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update hairdresser
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.phoneNumber != null" >
        phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=BIGINT},
      </if>
      <if test="record.shopName != null" >
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.photo != null" >
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.cardFacePhoto != null" >
        card_face_photo = #{record.cardFacePhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.cardBackPhoto != null" >
        card_back_photo = #{record.cardBackPhoto,jdbcType=VARCHAR},
      </if>
      <if test="record.restday != null" >
        restday = #{record.restday,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.cTime != null" >
        c_time = #{record.cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mTime != null" >
        m_time = #{record.mTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update hairdresser
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      phone_number = #{record.phoneNumber,jdbcType=VARCHAR},
      shop_id = #{record.shopId,jdbcType=BIGINT},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      photo = #{record.photo,jdbcType=VARCHAR},
      card_face_photo = #{record.cardFacePhoto,jdbcType=VARCHAR},
      card_back_photo = #{record.cardBackPhoto,jdbcType=VARCHAR},
      restday = #{record.restday,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      c_time = #{record.cTime,jdbcType=TIMESTAMP},
      m_time = #{record.mTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.quickshear.domain.Hairdresser" >
    update hairdresser
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="photo != null" >
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="cardFacePhoto != null" >
        card_face_photo = #{cardFacePhoto,jdbcType=VARCHAR},
      </if>
      <if test="cardBackPhoto != null" >
        card_back_photo = #{cardBackPhoto,jdbcType=VARCHAR},
      </if>
      <if test="restday != null" >
        restday = #{restday,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="cTime != null" >
        c_time = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mTime != null" >
        m_time = #{mTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.quickshear.domain.Hairdresser" >
    update hairdresser
    set name = #{name,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      shop_id = #{shopId,jdbcType=BIGINT},
      shop_name = #{shopName,jdbcType=VARCHAR},
      photo = #{photo,jdbcType=VARCHAR},
      card_face_photo = #{cardFacePhoto,jdbcType=VARCHAR},
      card_back_photo = #{cardBackPhoto,jdbcType=VARCHAR},
      restday = #{restday,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      m_time = #{mTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>